@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
html{
    font-size: 62.5%;
}
.header{
    width: 100%;
}
h1,h2,h3,h4,h5,h6,a{
    font-family: 'Roboto Slab', serif;

}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5vw 10vw;
    /* padding-top: 2vw; */
    justify-items: center;
    align-items: center;
}
.navbar a{
    font-size:1.5vw;
    text-decoration: none;
    color: black;
}
.navbar-img{
    display: flex;
    align-items: center;
}
.navbar-img > h1{
    font-size: clamp(2vw,3vw,5vw);
    margin-left: clamp(2vw,3vw,5vw);

}
.navbar-a, .navbar-font{
    -webkit-tap-highlight-color:transparent;
    
}
.navbar a img{
    width: clamp(7vw,8vw,12vw);
    outline: none;
}
.navbar-img .navbar-font svg{
    width: clamp(10vw,20vw,30vw);
    margin-left: 1rem;
    fill: tomato;
}
.navbar a img:focus{
    outline: 0 !important;
}
.navlist{
    display: flex;
    column-gap: 3vw;
    align-items: center;
}
.navlist a {
    font-size:1.5vw;
    font-weight:400 ;
    text-decoration: none;
    color: black;
    
    
}
.navlist a:hover{
    border-bottom: .15rem solid rgba(148, 31, 31, 0.836)
}
.hide{
    display: none;

}
.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    
}
.unactive{
    display: none;
}
.searchtext{
    outline: none;
    display: none;
    width: 0;
    font-size: 2rem;
    border: 2px solid lightgrey;
    border-radius: 5rem;
    padding: 1.5rem 3rem;
    position: relative;
}
.search-button,.search-cross{
    height: 2.5rem;
    width: 2.5rem;  
}
.search-cross {
    display: none;
    position: absolute;
    right: 12%;
}
.searchcross-active{
    display: block;
}
.searchtext-effect{
    width: 35vw;
    display: block;
    animation: fade 1s;
}
@keyframes fade {
    from{
        opacity: 0;
        transform: scale(0)
    }
    to{
        opacity: 1;
        transform: scale(1)
    }
    
}




@media (max-width:950px){
    .navbar{
        justify-content: space-between;
        align-items: center;
        padding: 5vw;
        flex-wrap: wrap;
        
    }
    .navbar a img{
        width: 10vw;
    }
    .navbar-img .navbar-font svg{
        width: 25vw;
    }
    .navlist {
        margin: 0;
        padding: 0 5vw;
        width: 100%;
        display: none;
    }

    .navlist.active{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        order: 2;

    }
    
    .navlist a{
        display: block;
        padding: 3vw 0;
        font-size: 2rem;
        font-weight: 300;
        padding-bottom: .5vw;

    }
    .menu{
        display: block;
        
    }
    .menu-svg{
        width: 3rem;
        height: 3rem;

    }
     .search-box{
        display:none;
    }
    
    .search-box.active{
        display: flex;
        order: 3;
        margin: 3vw 5vw;
        margin-bottom: .5vw;
    }
    .searchtext-effect{
        width: 75vw;
    }
    .search-cross {
        right: 18%;
    }
}
@media (max-width:600px) {
    
    
    .navlist a{
        padding: 10vw 0;
        padding-bottom: 1vw;

    }
    .navbar a img{
        width: 15vw;
    }
    .navbar-img .navbar-font svg{
        width: 45vw;
    }
    
    .menu{
        
        display: block;
        
    }
    
    
    .navbar a h1{
        font-size:2rem;
        padding: 1rem;
    }
    .menu-svg{
        width: 3.2rem;
        height: 5rem;
    }
    
    .search-box.active{
        margin: 5vw;
    }
    
}
